h1{
    color:rgb(243, 144, 198);
}
div {
    border: 3px solid black;
    margin:30px 30px;
    width:50%;
    background-color:lightgrey;
    padding: 25px;
}
.clint{
    border: 3px solid black;
    margin:30px;
    width:30%;
    position:absolute;
    top:5px;
    left:750px;
}
.sneha{
    border: 3px solid black; 
}
.sneha {
    position:absolute;
    margin:30px;
    width:30%;
    left:750px;
    border: 3px solid black;
  }
  ul.b{
    padding:20px;
  }

  